<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gotham City Project</title>
    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Content/bootstrap/bootstrap.min.css")
    <!-- jQuery -->
    @Scripts.Render("~/Scripts/jquery-1.11.3.min.js")
    <!-- Bootstrap Core JavaScript -->
    @Scripts.Render("~/Scripts/bootstrap/bootstrap.min.js")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/scrollButtons.js")

    @Styles.Render("~/Content/small-business.css")
    @Styles.Render("~/Content/general.css")
    @Styles.Render("~/Content/themes/base/css")

    @*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    @*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        $(document).ready(function () {
            $("#searchBoX").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Practica/Sugerencias",
                        type: "GET",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.nombre, value: item.nombre };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })

    /*var nombres;

        $.getJSON("/Practica/Sugerencias", function (data) {
            //var algo2 = data.
            var objetoJson = data.toString().split(",");
            //alert(data.toString().split(',')[0]);
            alert(objetoJson);
        });

        $(function () {
            var availableTags = [
              "ActionScript",
              "AppleScript",
              "Asp",
              "BASIC",
              "C",
              "C++",
              "Clojure",
              "COBOL",
              "ColdFusion",
              "Erlang",
              "Fortran",
              "Groovy",
              "Haskell",
              "Java",
              "JavaScript",
              "Lisp",
              "Perl",
              "PHP",
              "Python",
              "Ruby",
              "Scala",
              "Scheme"
            ];
            $("#searchBoX").autocomplete({
                source: nombres
            });
        });*/
    </script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Portada", "Gotham")">
                    <img src="../../Images/logo.png" alt="logo_principal" width="125" height="40" title="Batman HomePage">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">                    
                    <li class="trebuchet">
                        @Html.ActionLink(HttpUtility.HtmlDecode("&raquo; ") + "Inicio", "Portada", "Gotham")
                    </li>
                    <li class="trebuchet">
                        @Html.ActionLink(HttpUtility.HtmlDecode("&raquo; ") + "Pestañas", "Tabs", "Gotham")
                    </li>
                    <li class="trebuchet">
                        @Html.ActionLink(HttpUtility.HtmlDecode("&raquo; ") + "Contacto", "Contacto", "Gotham")
                    </li>
                    <li class="trebuchet">
                        @Html.ActionLink(HttpUtility.HtmlDecode("&raquo; ") + "Trailer", "Trailer", "Gotham")
                    </li>
                </ul>
                <form class="navbar-form navbar-right" style="padding-top: 15px;" id=" form-search" role="search">
                    <div class="form-group ui-widget">
                        <input type="text" id="searchBoX" class="form-control input-sm" placeholder="Buscar personaje...">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                </form>
                
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div id="scrollButtonUp">
        <button class="btn btn-default" onclick="scrollToTop();"><span class="glyphicon glyphicon-arrow-up"></span></button>
    </div>
    <!-- Page Content -->
    <div class="container">
        @RenderBody()

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <p>Copyright &copy; @DateTime.Now.Year Batman Enterprises</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    
    <div id="scrollButtonDown">
        <button class="btn btn-default" onclick="scrollToDown();"><span class="glyphicon glyphicon-arrow-down"></span></button>
    </div>
</body>
</html>

